@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/breakpoints" as media;

.container {
  margin: 0 2rem;
  padding: 1rem 0;
  @include media.query(">=sm") {
    margin: 0 4rem;
  }
  @include media.query(">=lg") {
    margin: 0 10rem;
  }
}
